 
  @media screen and (min-width: 0px) and (max-width: 460px) {
    
    .add_icon_fa{
      bottom: 20px !important;
      right: 20px !important;
    }
    .contact_m{
      display: block !important;
    }
    .contact_m p{
      margin: 0;
    }
    .contact_m section{
      margin-left: 65px;
      padding: 0 15px 15px 15px;
      font-size: 14px;
    }
    .awesome_icon{
      display: flex;
      margin-top: 10px;
      margin-right: 20px;
    }
    .awesome_icon_phone{
      color: springgreen;
      font-size: 30px;
    }
    .awesome_icon_edit{
      font-size: 30px;
    }
    .awesome_icon_delete{
      color: firebrick;
      font-size: 30px;
    }
  }

  @media screen and (min-width: 1023px) {
    .app{
      height:600px !important;
      width: 900px !important;
    }

    .add_icon_fa{
      bottom: calc(50vh - 280px) !important;
    }
  }

  ::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.search::-webkit-input-placeholder { 
  color: rgb(68, 31, 6);
}
.search::-moz-placeholder { 
  color: rgb(68, 31, 6);
}
.search:-ms-input-placeholder { 
  color: rgb(68, 31, 6);
}
.search:-moz-placeholder {
  color: rgb(68, 31, 6);
}
  
  .left {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
                background-blend-mode: multiply,multiply;
    flex: 1;
    color: rgb(68, 31, 6);
    height: 100%;
    overflow: hidden;
  }

  .left_header{
    display: flex;
    height: 72px;
    align-items: center;
    width: 100%;
  }

  .left_header_close{
    display: flex;
    width: 100%;
  }
  .search_hide,
  .left_header_open{
    display: none;
  }
  .search_show{
    margin: auto 30px;
    width: 100%;
  }
  .search_show input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
  }
  .contact_m{
    display: none;
  }
  .left h2 {
    text-align: center;
    margin: auto 20px;
    font-size: 40px
  }

  .space{
    flex: 1;
  }

  .search_icon_fa{
    font-size: 25px;
    margin: auto 20px;
    cursor: pointer;
  }

  .add_icon_fa{
    position: fixed;
    bottom: 20px;
    right: calc(50vw + 10px);
    font-size: 60px;
    margin: auto 20px;
    cursor: pointer;
    box-shadow: 1px 1px 4px 0px;
    border-radius: 50%;
  }

  .ell_icon_fa{
    font-size: 20px;
    margin: auto 10px;
    cursor: pointer;
  }

  .contacts-container {
    height: calc(100% - 74px);
    overflow-y: auto;
    overflow-x: hidden;
    overflow: auto;
    font-size: 22px;
    font-weight: 800; 
  }
  .contact {
    border-top: solid 2px #001C00;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
    height: auto;
    cursor: pointer;
  }
  .contact_s{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 8px;
  }

  .contact:nth-last-child(1){
    border-bottom: solid 2px #001C00;
  }
  .contact .image {
    height: 60px;
    text-align: center;
    width: 60px;
    min-width: 60px;
    border-radius: 50%;
    background-position: -10px 0px;
    background-size: cover;
    background-color: lightgrey;
    position: relative;
  }
  .contact .name {
    margin-left: 10px;
    min-width: 50px;
  }

  .no-contact{
    height: 100%;
    display: flex;
  }

  .no-contact h2{
    margin: auto
  }

  .no-image::before{
    color:brown;
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    font-family: 'FontAwesome';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hide{
    display: none;
  }
  