.app {
  height: calc(100vh - 8px);
  width: auto;
  display: flex;
  border: solid 4px #001C00;
}

.right {
  /* background: #EDF1BE; */
  flex: 1;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}